/*Selectores simples
    Selectores elementales
        *->Selector univseral
        Nombre de la etiqueta->Selector de etiqueta
    Selectores de atributo
        id->Id del elemnto
        clase-> Clase del elemento
        otros atributos.
Selectores compuestos   
    Selectores agrupados
    Selectores combinadores
    Pseudo Clases - Pseudoelementos
    */
    *{
        background-color: aliceblue;
    }
    .uwu{
        background-color:brown;
    }
    p{
        background-color: sienna;
    }
    ul{
        background-color: turquoise;
    }
    li{
        background-color: blanchedalmond;
    }
