/*
    FIxed -> El elemento perderá sus medidas y su espacio reservado.
    Si lo movemos usará el elemento html de referencia y además se quedará fijo en esa posición aunque hagamos scroll
*/
*{
    box-sizing: border-box;
}
body{
    background-color: dimgray;
    margin: 0;
    color: white;
    padding-top: 70px;
}
.header{
    background-color: aqua;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color: red;
    position: fixed;
    width: 100%;
    top: 0;

}