/*
Ordenar las propiedades es importante, no existe ninguna norma ni especificación sobre como hacerlo, pero la mayoría de epertos coinciden en los mismos puntos

    1-Propiedades de posicionamiento
    2.-Propiedades del box-model
    3.-Propiedades de texto
    4.-Propiedades visuales,(colores, bordes, background)
    5.- el resto
    */       
    body{
        /*POSITION*/
        position: relative;
        top: 0;
        left: 0;

        /*BOX MODEL*/

        display: block;
        width: 300px;
        height: 500px;
        padding: 30px;
        margin: 10px;
        overflow: hidden;

        /*TEXT*/
        font-size: 20px;
        text-align:center;

        /*VISUAL*/
        color: aliceblue;
        border: 2px dashed blue;
        border-radius: 30px;

        /*Vareios*/
        opacity: .2;
    }