/*
    El viewport es el área útil donde se mostrará la página web, IMPORTANTE, tened en cuenta que es el area visible sin hacer scroll
    Podemos usar el viewport como medida de varias formas:
    vw-> Viewport width, hace referencia al ancho del viewport
    vh-> viewport heigh, hace referencia al alto del viewport
    vmax->Utiliza el valor más grande entre el ancho y el alto del viewport
    vmin-> Utiliza el valor más pequeño entre el ancho y el alto del viewport

    1vw= 1% del acnho del viewport
    1vh= 1% del alto del viewport
    1vmin=1% del valor que sea más pequeño del viewport
    1vmax=1% del valor que sea mas grandel viewport
*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: gray;
    color:brown ;
}
.header{
    background-color: aquamarine;
    text-align: center;
}
.father{
    width: 300px;
    height: 300px;
    background-color: lightgreen;
}
.child{
    position: sticky;
    top: 0;
    width: 50vw ;
    height: 150px;
    background-color: lightseagreen;
}